/* *{
    font-family: "Inter Tight", sans-serif;
}
body{
    background-color: #FFFFFF;
}


select
span{
  color: #00000079;
}
select{
    border-style: none;
}


nav
.nav_cruds{
    display: flex;
    justify-content: center; 
    gap: 10px; 
     button{
        color: #00000079;
        height: 35px;
        border-style: solid;
        border-width: 0.5px;
        border-color: #ffffff;
        border-radius: 6px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
        cursor: pointer;
        transition: all 0.3s ease;
        
   } 
   button:hover{
    color: #235AFF ;
    border-color: #235AFF;
   }
}
section{
button {
    color: #00000079;
    height: 35px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #ffffff;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
    cursor: pointer;
    transition: all 0.3s ease;

    display: flex;           
    align-items: center;    
    justify-content: center; 
}

}

section {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    scrollbar-width: none;
    position: relative;
}

section::-webkit-scrollbar {
    display: none;
}

section button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px 16px;

    color: #00000079;
    height: 35px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #ffffff;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
    cursor: pointer;
    transition: all 0.3s ease;
}

section button:hover {
    border-color: #235AFF;
    color: #235AFF;
}

section button img {
    width: 20px;
}

;
 */
