* {
    font-family: "Inter Tight", sans-serif;
}

body {
    background-color: #FFFFFF;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    position: relative;
    font-size: 15px;
}
header a{
    text-decoration: none;
}
.item_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3px;
    cursor: pointer;
}

.item_header img {
    width: 35px;
    transition: filter 0.3s ease;
}

.item_header p {
    color: #00000067;
    transition: color 0.3s ease;
}

.grupo_esquerda,
.grupo_direita {
    display: flex;
    align-items: center;
    gap: 25px;
}

.grupo_direita img {
    width: 30px;
}

.item_header:hover img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(749%)
            hue-rotate(202deg) brightness(94%) contrast(101%);
}

.grupo_esquerda .item_header:first-child:hover .icones_header {
    filter: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(749%)
            hue-rotate(202deg) brightness(94%) contrast(101%);
    opacity: 1;
}

.grupo_esquerda .item_header:first-child .icones_header {
    filter: brightness(0);
    opacity: 0.45; 
}

.item_header:hover p {
    color: #235AFF;
}

.logo_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
}

main {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-top: 100px;         
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;

    margin: 30px;
    padding: 20px; 
    box-shadow: 0px 4px 10px #0000000D;
    border-radius: 10px; 
    input{
        border-radius: 10px;
        border-style: solid;
        border-width: 0.5px;
        height: 20px;
    }
    button{
        border-radius: 10px;
        height: 30px;
        border-style: solid;
        border-width: 0.5px;
        cursor: pointer;
    }
    .btn_voltar{
        background-color: transparent;
        border-color: #235AFF;
        color: #235AFF;
        }
    .btn_cad{
        background-color: #235AFF;
        border-color: #235AFF;
        color: white;
        }
    }

.file_label {
border-style: none;
border-radius: 0px;
cursor: pointer;
}
