* {
    font-family: "Inter Tight", sans-serif;
}

body {
    background-color: #FFFFFF;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    position: relative;
    font-size: 15px;
}
.grupo_esquerda .item_header:first-child .icones_header {
    filter: brightness(0) saturate(100%) invert(74%) sepia(0%) saturate(0%)
            hue-rotate(180deg) brightness(90%) contrast(90%);
}

.item_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3px;
    cursor: pointer;
}

.item_header img {
    width: 35px;
    transition: filter 0.3s ease;
}

.item_header p {
    color: #00000067;
    transition: color 0.3s ease;
}

.grupo_esquerda,
.grupo_direita {
    display: flex;
    align-items: center;
    gap: 25px;
}

.grupo_direita img {
    width: 30px;
}

.grupo_esquerda .item_header:first-child p {
    color: #00000079;
}

.grupo_esquerda .item_header:first-child img,
.item_header:hover img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(749%)
            hue-rotate(202deg) brightness(94%) contrast(101%);
}

.item_header:hover p {
    color: #235AFF;
}

.logo_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
}
.nav_cruds {
    display: flex;
    justify-content: center;
    gap: 10px;
    a{
        text-decoration: none;
        color: #00000079;
        transition: all 0.3s ease;
    }
    a:hover {
        color: #235AFF;
    }
}
.nav_cruds button {
    color: #00000079;
    height: 35px;
    border: 0.5px solid #ffffff;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav_cruds button:hover {
    color: #235AFF;
    border-color: #235AFF;
}

/* Botão ativo (Serviços) */
.btn_servicos {
    color: #235AFF !important;
    border-color: #235AFF !important;
}

/* Caso tenha link dentro */
.btn_servicos a {
    color: #235AFF !important;
}

