* {
    font-family: "Inter Tight", sans-serif;
}

body {
    background-color: #FFFFFF;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    position: relative;
    font-size: 15px;
}
header a{
    text-decoration: none;
}
.item_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3px;
    cursor: pointer;
}

.item_header img {
    width: 35px;
    transition: filter 0.3s ease;
}

.item_header p {
    color: #00000067;
    transition: color 0.3s ease;
}

.grupo_esquerda,
.grupo_direita {
    display: flex;
    align-items: center;
    gap: 25px;
}

.grupo_direita img {
    width: 30px;
}

.item_header:hover img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(749%)
            hue-rotate(202deg) brightness(94%) contrast(101%);
}

.grupo_esquerda .item_header:first-child:hover .icones_header {
    filter: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(749%)
            hue-rotate(202deg) brightness(94%) contrast(101%);
    opacity: 1;
}

.grupo_esquerda .item_header:first-child .icones_header {
    filter: brightness(0);
    opacity: 0.45; 
}

.item_header:hover p {
    color: #235AFF;
}
.ativo{
    color: #235AFF;
}

.logo_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
}
.item_header.ativo p {
    color: #235AFF;
}

.item_header.ativo img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(749%)
            hue-rotate(202deg) brightness(94%) contrast(101%);
    opacity: 1;
}
