* {
    font-family: "Inter Tight", sans-serif;
}

body {
    background-color: #FFFFFF;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    position: relative;
    font-size: 15px;
}

main {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-top: 100px;         
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;

    margin: 30px;
    padding: 20px; 
    box-shadow: 0px 4px 10px #0000000D;
    border-radius: 10px; 
    input{
        border-radius: 10px;
        border-style: solid;
        border-width: 0.5px;
        height: 20px;
    }
    button{
        border-radius: 10px;
        height: 30px;
        border-style: solid;
        border-width: 0.5px;
        cursor: pointer;
    }
    .btn_cad{
        background-color: #235AFF;
        border-color: #235AFF;
        color: white;
        }
        a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        }
        .btn_voltar{
        background-color: transparent;
        border-color: #235AFF;
        color: #235AFF;
        }
        .btn_voltar{
            a{
                color: #235AFF;
            }
        }
    }
.progresso_bar{
    display: flex;
    align-items: center; 
    gap: 10px; 
    justify-content: center;
    button{
        border-radius: 100px;
        border-style: none;
        width: 30px;
        height: 30px;
        color: #00000067;
    }
    .ativo{
        background-color: #000000;
        color: white;
    }
    .check{
        background-color: #1D8841;
    }
}
.file_label {
border-style: none;
border-radius: 0px;
cursor: pointer;
}

