
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    background: #fafafa;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    position: relative;
    font-size: 15px;
    font-family: 'Inter';
}

.item_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3px;
    cursor: pointer;
}

.item_header img {
    width: 35px;
    transition: filter 0.3s ease;
}

.item_header p {
    color: #00000067;
    transition: color 0.3s ease;
}

.grupo_esquerda,
.grupo_direita {
    display: flex;
    align-items: center;
    gap: 25px;
}

.grupo_direita img {
    width: 30px;
}

.grupo_esquerda .item_header:first-child p {
    color: #235AFF;
}

.grupo_esquerda .item_header:first-child img,
.item_header:hover img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(749%)
            hue-rotate(202deg) brightness(94%) contrast(101%);
}

.item_header:hover p {
    color: #235AFF;
}

.logo_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
}

/* BARRA DE PESQUISA */
.alinha-pesquisa{
    display: flex;
    justify-content: center;
    
}

.barra-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    padding: 12px 14px;
    border-radius: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08), 0 2px 6px rgba(0, 0, 0, 0.04);
    flex-wrap: wrap;
}

.input-pesquisa{
    border: none;
    font-size: 14px;
    flex: 1;
    color: #333333;
    font-family: 'Poppins', 'Inter', Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding: 6px;
    font-weight: 400;
    font-size: 14px;
    background: transparent;   
}

.divisor-pesquisa{
    width: 1px;
    height: 28px;
    background: #999999;
}

.botao-pesquisa{
    border: none;
    background: transparent;
    cursor: pointer;
}

.botao-pesquisa:hover {
    filter: brightness(0.8);
}

/* SERVIÇOS */
.tags-servicos{
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
    gap: 20px;
}

.tag-servico{
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer; 
    padding: 7px;
    gap: 2px;
    color: #9d9ea6;;
    background: #ffffff;
    border-radius: 10px;
    border: none;
}

.tag-servico:hover{
    background-color: #403529;
    color: white;
}

.titulo{
    padding: 10px 100px;
    font-family: 'Inter';
}

/* SALÕES */
.lista-saloes{
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    gap: 12px;
    font-family: 'Inter';
}

.card-salao{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    background: #ffffff;
    border-radius: 20px;
    position: relative;
}

.imagem-salao{
    width: 120px;
    height: 100px;
    object-fit: cover;
    margin: 4px 10px 4px 10px;
    max-width: 100%;
    border-radius: 16px;
}

.info-salao b{
    font-size: 16px;
}

.info-salao p{
    display: flex;
    align-items: center;
    margin: 8px 0;
    gap: 3px;
    color: #888;
}

.distancia-salao{
    position: absolute;
    font-size: 14px;
    color: #777;
    right: 15px;
    top: 24px;
    margin: 8px;
}

