
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: 14px;
    background: #fafafa;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    position: relative;
    font-size: 15px;
}

.item_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3px;
    cursor: pointer;
}

.item_header img {
    width: 35px;
    transition: filter 0.3s ease;
}

.item_header p {
    color: #00000067;
    transition: color 0.3s ease;
}

.grupo_esquerda,
.grupo_direita {
    display: flex;
    align-items: center;
    gap: 25px;
}

.grupo_direita img {
    width: 30px;
}

.grupo_esquerda .item_header:first-child p {
    color: #235AFF;
}

.grupo_esquerda .item_header:first-child img,
.item_header:hover img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(749%)
            hue-rotate(202deg) brightness(94%) contrast(101%);
}

.item_header:hover p {
    color: #235AFF;
}

.logo_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
}

/* LISTA AGENDAMENTOS */
.titulo{
    padding: 10px 100px;
}

.lista-agendamentos{
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    gap: 12px;
}

.card-agendamento{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 12px;
    background: #ffffff;
    border-radius: 20px;
    position: relative;
    justify-content: space-between;
    
}

.imagem-salao{
    width: 120px;
    height: 100px;
    object-fit: cover;
    margin: 4px 10px 4px 10px;
    max-width: 100%;
    border-radius: 16px;
}

.info-salao b, .info-servico b, .info-datahora b{
    font-size: 16px;
}

.info-salao p, .info-servico p, .info-datahora p{
    display: flex;
    align-items: center;
    margin: 8px 0;
    gap: 3px;
    color: #888;
}

.info-servico{
    
}



.info-datahora{
    
}

.distancia-salao{
    position: absolute;
    font-size: 14px;
    color: #777;
    right: 15px;
    top: 24px;
    margin: 8px;
}

