
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: 14px;
    background: #fafafa;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    position: relative;
    font-size: 15px;
}

.item_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3px;
    cursor: pointer;
}

.item_header img {
    width: 35px;
    transition: filter 0.3s ease;
}

.item_header p {
    color: #00000067;
    transition: color 0.3s ease;
}

.grupo_esquerda,
.grupo_direita {
    display: flex;
    align-items: center;
    gap: 25px;
}

.grupo_direita img {
    width: 30px;
}

.grupo_esquerda .item_header:first-child p {
    color: #235AFF;
}

.grupo_esquerda .item_header:first-child img,
.item_header:hover img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(749%)
            hue-rotate(202deg) brightness(94%) contrast(101%);
}

.item_header:hover p {
    color: #235AFF;
}

.logo_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
}

/* LISTA AGENDAMENTOS */
.titulo{
    padding: 10px 100px;
}

.lista-agendamentos{
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    gap: 12px;
}

.card-agendamento{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 12px;
    background: #ffffff;
    border-radius: 16px;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagem-salao{
    width: 120px;
    height: 100px;
    object-fit: cover;
    margin: 4px 10px 4px 10px;
    max-width: 100%;
    border-radius: 16px;
    position:static;
}

/* .info-agendamento{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
    align-items: center;
} */

.salao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.info-salao{
    align-items: center;
    justify-content: center;
}

.info-salao b, .info-servico b, .info-datahora b{
    font-size: 16px;
}

.info-salao p, .info-servico p, .info-datahora p{
    display: flex;
    align-items: center;
    margin: 8px 0;
    gap: 3px;
    color: #888;
}

.info-datahora{
    margin-right: 24px;
}

/* AVISO DE CANCELAMENTO */
.botao-cancelar{
    background: #cfcfcf;
    color: #ffffff;
    border: none;
    padding: 14px;
    border-radius: 12px;
    margin: 24px;
    
}

.botao-cancelar:hover{
    background: #403529;
    color: white;
    cursor: pointer;
}

.card-aviso{
    display:none;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-left: 120px;
    margin-right: 120px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.icones-aviso{
    display: flex;
    justify-content: space-between;
}

.botao-fechar{
    background: transparent;
    border: none;
    /* margin-left: 460px; */
    /* position: absolute; */
    right: 140px;
    margin-top: 5px;
}

.texto-aviso{
    justify-items: center;
}

.botoes{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.botao-confirmar, .botao-voltar{
    background: #838d9e;
    color: #ffffff;
    padding: 14px;
    width: 180px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.botao-confirmar:hover, .botao-voltar:hover{
    background: #1d3050;
    cursor: pointer;
}