body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: 14px;
    background: #fafafa;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    position: relative;
    font-size: 15px;
}

.item_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3px;
    cursor: pointer;
}

.item_header img {
    width: 35px;
    transition: filter 0.3s ease;
}

.item_header p {
    color: #00000067;
    transition: color 0.3s ease;
}

.grupo_esquerda,
.grupo_direita {
    display: flex;
    align-items: center;
    gap: 25px;
}

.grupo_direita img {
    width: 30px;
}

.grupo_esquerda .item_header:first-child p {
    color: #235AFF;
}

.grupo_esquerda .item_header:first-child img,
.item_header:hover img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(749%)
            hue-rotate(202deg) brightness(94%) contrast(101%);
}

.item_header:hover p {
    color: #235AFF;
}

.logo_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 90px;
}

/* CARD SALÃO */
.card-dados-salao{
    display: flex;
    gap: 20px;
    padding: 20px 80px;
    margin: 20px;
    border-radius: 20px;
    flex-wrap: wrap;
}

.imagem-salao{
    width: 400px;
    border-radius: 12px;
}

.info-salao{
    display:flex;
    flex-direction: column;
    font-size: 16px;
}

.info-salao p, .info-salao h2{
    display: flex;
    margin: 4px 0;
    gap: 6px;
    align-items: center;
}

.info-salao p{
    color: #9d9ea6;
}

/* BOTÃO VOLTAR PÁGINA */
.topo-voltar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #1b1b1b;
    cursor: pointer;
}

.topo-voltar svg {
    transition: transform 0.2s ease; 
}

.topo-voltar:hover svg {
    transform: translateX(-3px);
}

.topo-voltar span{
    font-weight: 600;
}

/* DETALHES DO AGENDAMENTO */
.confirmacao-agendamento{
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    max-width: 400px;
    padding-bottom: 20px;  
}

.subtitulo{
    font-size: 15px;
    font-weight: 600;
}

.cliente-info{
    display: flex;
    align-items: center;
    gap: 20px;
    /* margin-top: 6px; */
}

.foto-cliente{
    width: 80px;
    height: 80px;
    max-width: 80px;
    border-radius: 50px;
    object-fit: cover;
    display: block
}

/* INFO AGENDAMENTO */
.info-agendamento{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 8px;
    position: relative;
}

.info-agendamento p{
    color:#777777
}

.foto-cliente{
    display: flex;
    background-image: url('../assets/imagem-cliente-ruiva.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;

}

/* INFO PAGAMENTO */
.card-pagamento{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 24px;
}

.info-pagamento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.seleciona-pagamento{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px; 
}

.seleciona-pagamento input{
    transform: scale(1.2);
}

.texto{
    display: flex;
    flex-wrap: wrap;
}

.texto, .descricao-servico, .servico{
    color: #777777;
}

/* INFO SERVIÇOES E VALORES */
.lista-servicos{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.info-servico{
    display: flex;
    justify-content: space-between;
}

.tempo{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    margin-top: 12px;
    font-size: 16px;
}

/* BOTÃO PARA FINALIZAR */
.finalizar-agendamento{
    display: flex;
    padding: 10px 100px;
    margin-bottom: 40px;
}

.botao-finalizar{
    display: flex;
    width: 100%;
    max-width: 400px;
    color: #ffffff;
    background: #cccccc;
    border: none;
    padding: 14px;
    /* gap: 12px; */
    align-items: center;
    border-radius: 8px;
    /* position: relative; */
    justify-content: center;
    cursor: not-allowed;
}

.botao-finalizar:enabled{
    background: #635a52;
    cursor: pointer;
}

.botao-finalizar:enabled:hover{
    background: #403529;
    cursor: pointer;
}

    